body{
    overflow: hidden;
}
::placeholder { 
    color: #ffff;
    opacity: 1; 
  }
.my-search{
    border-radius: 10px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.116);
   
}
.my-search input{
    border-radius: 0px 10px 10px 0px;
    padding-left: 0.5rem;
    display: flex;
    border: unset;
    resize: none;
    outline: none;
    color: #ffff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.116);
    
}
.my-search span{
    border-radius: 10px 0px 0px 10px;
    padding-left: 0.5rem;
    color: #ffff;
    background-color: rgba(255, 255, 255, 0.116);
}

.my-profile{
width: 50px;
height: 50px;
border: #ffff;
background: url(icons/peepoUnicorn.png);
border-radius: 62px;
}
.logo{
    font-family: 'Monofett', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    line-height: 48px;
}
.side-menu{
    height: 100vh;
    background-color: #323232;
}
.side-menu li:hover{
    background-color: #0D7377;
}
.side-menu ul{
    padding-top: 1rem;
    padding-left: 1rem;
}
.side-menu li{
    color: #ffff;
    display: flex;

}
.side-menu a{
    color: #ffff;
     font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.2rem;
}

.nav-item span{
    
    padding-left: 0.3rem;
    align-items: center;
}
.bi-clipboard-data{
    font-size: 2rem;
}
.bi-stickies{
    font-size: 2rem;
}
.bi-people-fill{
    font-size: 2rem;
}
.dropdown-menu{
    background-color: #323232;
    color: #ffff;

}
.dropdown-menu a:hover{
    background-color: #0D7377;
    color: #ffff;
    
}
.dropdown-menu a{
    width: 0.5rem;
    color: #ffff;
    
}